{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#        <button class="btn">{{ button_label|default('Save') }}</button>#}
{#{{ form_end(form) }}#}
{# {% for key in data %}#}
{#     {{ data.name }}#}
{# {% endfor %}#}
<div class="testbox">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="banner">
            <h1>Student Entry Form</h1>
        </div>
        <div class="item">

            <p>Student Entry</p>
            <div class="name-item">
                <input type="text" name="name" placeholder="student name" value=" {{ student.name }}" />
                <input type="text" name="class" placeholder="Class" value=" {{ student.class }}"  />
            </div>
        </div>
        <div class="item">
                <div class="name-item">
                    <input type="text" name="marks" placeholder="student Marks" value=" {{ student.marks }}" />
                    <input type="email" name="email" placeholder="email"  value=" {{ student.email }}" />
                </div>
        </div>
        <div class="item">
                <div class="name-item">
                    <input type="password" name="password" placeholder="Password"  value=" {{ student.password }}"/>
                </div>
        </div>
        <div class="question">
            <p>Gendor</p>
            <div class="question-answer">
                <div>
                    <input type="radio" value="Male" id="radio_1" name="gendor" />
                    <label for="radio_1" class="radio"><span>Male</span></label>
                </div>
                <div>
                    <input type="radio" value="Female" id="radio_2" name="gendor" />
                    <label for="radio_2" class="radio"><span>Female</span></label>
                </div>
            </div>
        </div>
        <div class="btn-block">
            <button type="submit" href="/">{{ button_label|default('Save') }}</button>
        </div>
    {{ form_end(form) }}
</div>

